main {
  min-height: 90vh;
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.highlight {
  font-size: 16px;
  font-weight: 600;
}

.onhover {
  cursor: pointer;
}

.header__left {
  flex: 0.5;
  display: flex;
  background-color: white;
  padding: 8px;
  border-radius: 30px;
  color: gray;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

input:focus {
  outline-style: none;
}

.NoProd {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
